.cards {
  padding-top: 20px;
  border-radius: 8px;
  border-bottom: 8px;
  padding-bottom: 40px;
  border-color: #212121;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  max-width: 1280px;
  border-bottom: 1px solid #212121;
  padding-bottom: 40px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
