.card__image {
  height: 413px;
  width: 100%;
  object-fit: Cover;
  display: block;
  border-radius: 8px;
}

.card {
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 120%;
  max-width: 353px;
}

.card__like-btn {
  background-image: url(../images/Heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

/* <class_name>: hover */
.card__like-btn:hover {
  cursor: pointer;
}

/* comment  */
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-weight: 500;
    line-height: 100%;
    font-size: 16px;
  }
}
